<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div class="footer" th:fragment="end">
    <div class="footer-nav-grid">
        <ul>
            <li><a href="#">Home</a>
            </li>
            <li><a href="#">About us</a>
            </li>
            <li><a href="#">Our Purpose
                &#38; Objective</a></li>
            <li>
                <a href="#">Membership</a>
            </li>
            <li><a href="#">Asian &#38;
                Wellness Forum</a></li>
            <li><a href="#">Courses</a>
            </li>
            <li><a href="#">Contact</a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <div class="footer-social-icons">
        <ul>
            <li><a href="#"><img
                    src="/images/facebook.png"
                    title="facebook"/></a>
            </li>
            <li><a href="#"><img
                    src="/images/twitter.png"
                    title="twitter"/></a>
            </li>
            <li><a href="#"><img
                    src="/images/youtube.png"
                    title="Youtube"/></a>
            </li>
        </ul>
    </div>
    <div class="footer-form">
        <h3>Quick Contact</h3>
        <form>
            <div class="footer-text-boxs">
                <input type="text"
                       class="textbox"
                       value="Name:"
                       onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Name';}">
                <input type="text"
                       class="textbox"
                       value="Email:"
                       onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Email';}">
                <input type="text"
                       class="textbox"
                       value="mobile:"
                       onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'mobile';}">
                <input type="text"
                       class="textbox"
                       value="Website:"
                       onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Website';}">
            </div>
            <div class="footer-text-area">
                <textarea
                        value="Message:"
                        onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
            </div>
            <input type="submit"
                   value="Call Me">
        </form>
    </div>
    <div class="clear"></div>
</div>
</body>
</html>