<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="contents">
<div class="header">
    <!---start-logo--->
    <div class="logo">
        <a href="index.html"><img
                src="/images/logo.png"
                title="logo"/></a>
    </div>
    <!---End-logo--->
    <!---start-head-social-icons--->
    <div class="top-social-icons">
        <div class="social-icons">
            <ul>
                <!--<li><a href="#"><img src="images/facebook1.png" title="facebook" /></a></li>-->
                <!--<li><a href="#"><img src="images/twitter1.png" title="Twitter" /></a></li>-->
                <!--<li><a href="#"><img src="images/youtube1.png" title="Youtube" /></a></li>-->
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <!---End-head-social-icons--->
    <!---start-top-nav---->
    <div class="top-nav">
        <ul>
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/list/1">童话故事</a>
            </li>
            <li>
                <a href="/list/1">睡前故事</a>
            </li>
            <li>
                <a href="/list/1">成语故事</a>
            </li>
            <li>
                <a href="/list/1">幽默故事</a>
            </li>
            <li>
                <a href="search.html">寓言故事</a>
            </li>
            <li>
                <a href="contact.html">职场故事</a>
            </li>
            <li>
                <a href="contact.html">爱情故事</a>
            </li>
            <li>
                <a href="contact.html">神话故事</a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
    <!---End-top-nav---->
</div>
</div>
</body>
</html>