<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<title>single-page</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css"  media="all" />
        <link rel="stylesheet" type="text/css" href="/css/pagination.css">
        <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/js/pagination.min.js"></script>
    </head>
	<body>
		<!---start-wrap--->
		<div class="wrap">
			<!---start-header--->
			<div th:include="header :: contents"></div>
			<!---End-header--->
			<!---start-main---->
			<div class="main">
				<!---start-Content---->
				<div class="content">
					<div class="search">
						<h3 style="font-size: 30px" th:text="${type.typeNameCn}"></h3>
						<div class="search-grid" th:each="story : ${stories}">
							<div class="search-grid-img">
								<a th:href="'/readStory/'+${story.id}"><img th:src="${story.storyImage}"></a>
							</div>
							<div class="search-grid-info">
								<a th:href="'/readStory/'+${story.id}"><h4 th:text="${story.name}"></h4></a>
								<a th:href="'/readStory/'+${story.id}"><p th:text="${story.storyProfile}"></p></a>
							</div>
							<div class="clear"> </div>
						</div>

                        <div id="pagination"></div>
					</div>
					<div class="clear"> </div>
				</div>
				<!---End-Content---->
				<!---start-sidebar---->
				<div class="side-bar">
					<div class="sidebar-top-add">
						<h3>Sponsersed by</h3>
						<a href="#"><img src="/images/add2.png" title="add"/></a>
					</div>
					<div class="presedent-img">
							<div class="Latest-news-title side-bar-sub-heading">
								<h3>Form the desk of President</h3>
								<h5> </h5>
								<div class="clear"> </div>
							</div>
						<a href="#"><img src="/images/prasedent.png" title="name" /></a>
					</div>
					<div class="sponsers-list">
						<h3>Sponsersed by</h3>
						<a href="#"><img src="/images/spons1.png" title="sponser-name" /></a>
						<a href="#"><img src="/images/spons1.png" title="sponser-name" /></a>
					</div>
				</div>
				<div class="clear"> </div>
				<!---End-sidebar---->
			</div>
			<!---End-main---->
			</div>
			<!---start-footer---->
        <div class="footer">
            <div th:include="footer :: end"></div>
        </div>
			<!---End-footer---->

		<!---End-wrap--->
<script type="text/javascript">
    $("#pagination").whjPaging({
        pageSizeOpt: [
            {'value': 20, 'text': '20条/页', 'selected': true},
            {'value': 30, 'text': '30条/页'},
            {'value': 40, 'text': '40条/页'},
            {'value': 50, 'text': '50条/页'}
        ],
        //可选，css设置，可设置值：css-1，css-2，css-3，css-4，css-5，默认css-1，可自定义样式
        css: 'css-5',
        //可选，总页数
        totalPage: [[${totalPages}]],
        //可选，展示页码数量，默认5个页码数量
        showPageNum: 5,
        //可选，首页按钮展示文本，默认显示文本为首页
        firstPage: '首页',
        //可选，上一页按钮展示文本，默认显示文本为上一页
        previousPage: '上一页',
        //可选，下一页按钮展示文本，默认显示文本为下一页
        nextPage: '下一页',
        //可选，尾页按钮展示文本，默认显示文本为尾页
        lastPage: '尾页',
        //可选，跳至展示文本，默认显示文本为跳至
        skip: '跳至',
        //可选，确认按钮展示文本，默认显示文本为确认
        confirm: '确认',
        //可选，共{}页展示文本，默认显示文本为共{}页，其中{}会在js具体转化为数字
        totalPageText: '共{}页',
        //可选，是否展示首页与尾页，默认true
        isShowFL: true,
        //可选，是否展示每页N条下拉框，默认true
        isShowPageSizeOpt: false,
        //可选，是否展示跳到指定页数，默认true
        isShowSkip: false,
        //可选，是否展示刷新，默认true
        isShowRefresh: false,
        //可选，是否展示共{}页，默认true
        isShowTotalPage: true,
        isShowTotalSize: false,
        //可选，是否需要重新设置当前页码及总页数，默认false，如果设为true，那么在请求服务器返回数据时，需要调用setPage方法
        isResetPage: true,
        //必选，回掉函数，返回参数：第一个参数为页码，第二个参数为每页显示N条
        callBack: function (currPage, pageSize) {
            console.log('currPage:' + currPage);
            window.location.href="/list/[[${type.typeName}]]?page="+currPage+"&size=10";
        }
    });
    $("#pagination").whjPaging("setPage", {currPage: [[${page}]], totalPage: [[${totalPages}]]});
</script>
</body>
</html>

